.boardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
  border-radius: 8px;
}

.poolsContainer {
  display: flex;
  gap: 16px;
}

.droppable {
  display: flex;
  gap: 16px;
}


