.boardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.poolsContainer {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  width: 100%;
}

.swimmingPool {
  width: calc((100% / 3) - 48px);
  margin: 10px;
  padding: 24px;
  background-color: #e9ecef;
  border-radius: 8px;
}

.swimmingPoolTitle {
  text-align: center;
  margin-bottom: 24px;
}
