.headerContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-bottom: 4px;
}

.boardName {
  align-self: flex-start;
  margin-bottom: 16px;
}

.titleSection {
  align-self: center;
  margin-bottom: 16px;
}

.subtitle {
  color: var(--description-text-color);
}

.centerSection {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.filtersContainer {
  display: flex;
  gap: 24px;
}
